body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  height: 185px;
  width: 185px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}

.roulette {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin: 20%;
	margin-top: 26px;
	margin-bottom: 26px;
}

.roulette-inner {
    position: center;
    overflow: hidden;
    width: 100%;
}

.roulette-open:checked + .roulette-item {
    position: static;
    opacity: 100;
}

.roulette-item {
    position: absolute;
	width: 100%;
    opacity: 0;

}

.roulette-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.roulette-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.roulette-control.prev {
    left: -50px;
}

.roulette-control.next {
    right: -50px;
}

.roulette-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#roulette-1:checked ~ .control-1,
#roulette-2:checked ~ .control-2,
#roulette-3:checked ~ .control-3,
#roulette-4:checked ~ .control-4 {
    display: block;
}

.roulette-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.roulette-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.roulette-bullet {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.roulette-bullet:hover {
    color: #aaaaaa;
}

#roulette-1:checked ~ .control-1 ~ .roulette-indicators li:nth-child(1) .roulette-bullet,
#roulette-2:checked ~ .control-2 ~ .roulette-indicators li:nth-child(2) .roulette-bullet,
#roulette-3:checked ~ .control-3 ~ .roulette-indicators li:nth-child(3) .roulette-bullet,
#roulette-4:checked ~ .control-4 ~ .roulette-indicators li:nth-child(4) .roulette-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
